.vectorTop {
  position: absolute !important;
  top: 0px;
  z-index: 100 !important;
}

.vectorBottom {
  position: fixed !important;
  bottom: 0px;
  z-index: 100 !important;
}

.mainContent {
  position: relative !important;
  z-index: 200 !important;
}

.absolute {
  position:absolute;
  height: 100vh;
  width: 100%;
  opacity: .5;
}

.bottom {
  position: fixed;
  bottom: 0;
}

.animate {
  transition: all 10s ease-in-out;
}

.corner-ribbon{
  cursor: pointer;
  z-index: 9999;
  width: 400px;
  height: 40px;
  background: #ffffff;
  position: absolute;
  top: 40px;
  left: -50px;
  text-align: center;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.sticky{
  position: fixed;
}
.corner-ribbon.top-right{
  top: 40px;
  right: -150px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.webstore-wrapper > img {
  height: 40px;
  position: relative;
}

@media only screen and (max-width: 599px) {
  .siteContent {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Noto Sans, sans-serif;
  }
  .siteSidebar {
    width: 87px;
  }
}

@media only screen and (min-width: 600px ) {
  .siteContent {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Noto Sans, sans-serif;
  }
  .siteSidebar {
    width: 87px;
  }
}

@media only screen and (min-width: 980px ) {
  .siteContent {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Noto Sans, sans-serif;
  }
  .siteSidebar {
    width: 87px;
  }
}

@media only screen and (min-width: 1260px ) {
  .siteContent {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Noto Sans, sans-serif;
  }
  .siteSidebar {
    width: initial;
  }
}
